.contact-us-content {
	padding-top: 50px;
	padding-bottom: 80px;

	&__topline {
		margin-bottom: 70px;
	}

	&__title {
		.section-titling;
		margin-bottom: 30px;
	}

	&__subtitle {
		margin-bottom: 50px;
	}
}

.contacts-tiles {

}
.contact-tile {

	&--no-flex {
		display: block;
	}
	background: #f4f4f4;
	padding: 35px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 40px;
	&__content {
		flex: 1;
	}
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		color: #000;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}

		.strong-link {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
			color: #000;
			text-decoration: underline;
		}
	}
	

	&__bg {
		flex: 1;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}


@media (max-width: 630px) {
	.contact-tile {
		// flex-direction: column;

		&__content {
			// order: 2;
			flex: 2;
		}
		&__bg {
			// order: 1;
			height: 100px;
			width: 100px;
			align-self: flex-start;
			margin-bottom: 30px;
		}
	}
}


@media (max-width: 521px) {

	.contact-us-content {
		padding-bottom: 40px;

	}
	.contact-tile {
		flex-direction: column;

		&__content {
			order: 2;
			flex: 1;
		}
		&__bg {
			order: 1;
		}
	}
}
