.support-hero {
	background-image: url(../img/bg/support-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 310px;
}

.support {
	padding-bottom: 150px;
	&__topline {
		margin-top: 50px;

		.btn-back {
			display: block;
			width: 100%;
		}
	}

	&__title {
		.main-titling;
		color: #000;
		margin: 42px 0;
	}

	&__subtitle {
		font-size: 30px;
		line-height: 1.2;
		color: #000;
	}

	&__main {
		margin-top: 100px;
	}
}


.knowbase {
	
}

.knowbase-item {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 70px;

	&--no-stretch {
		//align-items: flex-start;
	}

	&__num-icon {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 50px;
		color: #fff;
		background: #4bc689;
		flex-basis: 110px;
		flex-shrink: 0;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		text-align: center;
		line-height: 110px;
		margin-right: 45px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px 0;
	}
	&__text {
		font-size: 18px;

		strong {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
		}
	}
	&__btn-goto {
		position: relative;
		background: #f4f4f4;
		font-size: 14px;
		padding: 15px 30px;
		padding-right: 60px;
		color: #000;
		display: block;
		text-align: center;
		width: 230px;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#f4f4f4, 5%);
		}
		&:after {
			content: '';
			height: 20px;
			width: 10px;
			display: block;
			position: absolute;
			display: block;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			background-image: url(../img/nav-icons/green-arrow-right.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
		}
	}

	&__select-holder {
		//margin-top: 40px;
	}
}


.knowbase-select-item {
	margin-top: 35px;
	&__text {
		font-size: 18px;
		color: #000;
		line-height: 1.3;
		margin-bottom: 18px;
	}
	&__select-holder {
		position: relative;
		width: 70%;

		.arrow-icon {
			// .r;
			position: absolute;
			display: block;
			background: #f4f4f4;
			width: 20px;
			height: 10px;
			line-height: 10px;
			right: 5px;
			top: 50%;
			margin-top: -5px;
			pointer-events: none;
		}
	}

	&__select {
		background: #f4f4f4;
		font-size: 14px;
		padding: 20px 30px;
		border: 0;
		width: 100%;
	}
}


.support-questions {

	&__title {
		font-size: 25px;
		color: #000;
	}

	&__item-wrapper {
		
	}
}

.questions-item {
	position: relative;
	margin-top: 40px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		background: #4bc689;
		border-radius: 50%;
		left: -70px;
		top: 5px;
	}
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.33;
		color: #000;
	}

	&__wrapper {
		margin-top: 30px;
	}

	&__question-holder {
		margin-bottom: 1px;
		font-size: 14px;
		overflow: hidden;
	}

	&__question {
		width: 100%;
		height: 100%;
		background: #f4f4f4;
		padding: 20px 30px;
		cursor: pointer;
		&:hover {
			background: #4bc689;
			color: #fff;
		}
	}

	&__question.is-open {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
	}


	&__answer {
		padding: 20px 30px;
		display: none;
		position: relative;
	}

	&__answer-text {
		font-size: 14px;
		line-height: 1.5;
	}

	&__answer-hide {
		color: #4bc689;
		text-decoration: underline;
		text-align: right;
		cursor: pointer;
		display: inline-block;
		float: right;
		margin-top: 30px;
	}
}