.billing-adress {
	margin-bottom: 50px;
	&__bg-wrapper {
		background: #f4f4f4;
		padding: 50px 0;
	}

	&__wrapper {}
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		margin-bottom: 50px;
	}
	&__row {
		display: flex;
		justify-content: flex-start;
		margin: 0 -10px;
	}
	&__item {}
}

.adress-item {
	margin: 0 10px;
	margin-bottom: 30px;

	&__title {
		font-size: 12px;
		color: #000;
		margin-bottom: 20px;
	}
	&__input {
		width: 370px;
		border: 0;
		padding: 20px;
		&--half {
			width: 185px;
		}
	}

	&__bottom-text {
		font-size: 12px;
		color: #a9a9a9;
	}
}


@media (max-width: 992px) {
	.billing-adress {
		&__bg-wrapper {
			padding: 20px;
		}


		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	}

	.adress-item {
		&__title {
			margin-bottom: 10px;
		}
	}
}


@media (max-width: 455px) {
	.adress-item {
		width: 100%;
		&__input {
			width: 100%;
		}
	}
	
}