.cart-top {
	margin-top: 60px;
}

.cart-table-section {
	padding-top: 60px;
	&__title {
		.section-titling;
		margin-bottom: 50px;
	}

	&__remove-all {
		
		cursor: pointer;
		display: inline-block;
		float: right;
		margin-right: 120px;
		padding: 50px 0;
		a {
			color: #c64b4b;
			line-height: 2.6;
			font-size: 14px;
			&:hover {
				text-decoration: underline;
			}
		}
		
	}
}

.cart-table-wrapper {
	
}



.cart-table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 18px;
	line-height: 2;
	&__th, &__td {

	}
	thead {
		tr {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
			border-bottom: 1px solid #f4f4f4;
		}
	}

	tbody {
		tr:last-child {
			border-bottom: 1px solid #f4f4f4;
		}
	}
	&__th, &__td {
		padding: 50px 0;
	}
	&__th {

	}

	&__td {
		&--bold {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
		}
		.minus {
			color: #c64b4b;
			margin-right: 15px;
			cursor: pointer;
		}

		.plus {
			color: #4bc689;
			margin-left: 15px;
			cursor: pointer;
		}

		.fa-pen {
			color: #7f7f7f;
			font-size: 16px;
			margin-right: 40px;
			cursor: pointer;
		}

		.fa-times {
			font-size: 24px;
			color: #c64b4b;
			cursor: pointer;
		}
	}
}


.cart-total {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 50px 0;
	border-bottom: 1px solid #f4f4f4;

	&__promo {
		form {
			display: flex;
			align-items: stretch;
		}
	}

	&__promo-input {
		font-size: 12px;
		line-height: 1.5;
		padding: 20px;
		border: 1px solid #f4f4f4;
		margin-right: 20px;	
	}
	&__promo-submit {
		color: #fff;
		background: #4bc689;
		padding: 20px 30px;
		text-align: center;
		border: 0;
		border-radius: 5px;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#4bc689, 5%);
		}
	}

	&__amount {
		font-size: 14px;
		color: #000;
		margin-right: 16%;

	}
	&__value {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 30px;
		line-height: 1.2;
		margin-left: 20px;
	}
}



@media (max-width: 732px) {
	.cart-table {
		font-size: 14px;
		&__td, &__th {
			padding: 8px;
		}
	}

	.cart-total {
		flex-direction: column;
		align-items: center;

		&__amount {
			margin-top: 20px;
			margin-right: 0;
		}
	}
}


@media (max-width: 562px) {
	.cart-table {
		thead {
			display: none;
		}
		
		tr {
			display: block;
			padding-bottom: 22px;
			border-bottom: 2px solid #ccc;
			margin-bottom: 22px;
		}
		&__td:nth-child(odd) {
			background: #eee;
		}

		&__td:last-child {
			background: @accent-blue;
			display: flex;
			justify-content: center;
			padding-left: 0;
			i.fas {
				display: block;
				width: 40px;
				height: 40px;
				background: #fff;
				border-radius: 50%;
				text-align: center;
				line-height: 36px;
				border: 2px solid transparent;
				&:hover,
				&:active,
				&:focus, {
					border-color: #fff;
					background: #8fa7ef;
				}
			}
		}

		&__td {
			position: relative;
			display: block;
			padding-left: 40%;
			&:before {
				font-family: "HelveticaNeueCyr-Bold", sans-serif;
				content: attr(data-label);
				position: absolute;
				left: 10%;
			}
		}
	}
	
}