.pay-method {

	&__bg-wrapper {
		background: #f4f4f4;
		padding: 50px 0;
	}

	&__wrapper {}
	


	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		margin-bottom: 50px;
		font-size: 18px;
	}

	&__choose {}
	&__choose-title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 12px;
		margin-bottom: 30px;
	}
	&__choose-holder {
		display: flex;
		margin-bottom: 40px;

	}

	&__choose-label {
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 12px;
		display: flex;
		align-items: center;
		margin-right: 45px;

		span {
			margin-left: 7px;
			margin-top: 5px;
		}
	}
	&__radio {
		margin-top: 0;
		height: 16px;
		width: 16px;
		background: red;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			display: block;
			height: 18px;
			width: 18px;
			left: -1px;
			top: -1px;
			background: #fff;
			border-radius: 50%;
			z-index: 5;

		}

		&:checked:before {
			content: '';
			display: block;
			position: absolute;
			height: 8px;
			width: 8px;
			background: #4bc689;
			border-radius: 50%;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 10;
		}
	}

	&__credit-info {}
	&__priv-policy {
		font-size: 12px;
		color: #a8a8a8;

		a {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}


.credit-info {
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 12px;
		margin-bottom: 30px;
	}
	&__row {
		display: flex;
		justify-content: flex-start;
		margin: 0 -10px;
	}
	&__item {}
}

.credit-item {
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	&__title {
		font-size: 12px;
		margin-bottom: 20px;
	}
	&__input-wrap {
		position: relative;
	}
	&__input {
		width: 370px;
		height: 64px;
		border: 0;
		padding: 20px;

		&--select {
			width: 175px;
		}
		&--select-2 {
			margin-left: 15px;
		}

		&--verif {
			width: 195px;
		}
	}

	&__input-img {
		display: block;
		width: 95px;
		height: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		background-image: url(../../../img/icons/credit-cards.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		pointer-events: none;
	}

	&__bottom-text {
		font-size: 12px;
		color: #a2a2a2;
	}
	&__creditcard-icon {
		background-image: url(../img/icons/credit-card.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		width: 55px;
		height: 35px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 100%;
		// margin-left: 30px;
	}
}



@media (max-width: 992px) {

	.pay-method {
		&__bg-wrapper {
			padding: 20px;
		}
	}

	.credit-item {
		width: 50%;

		&__input-wrap--select {
			display: flex;
			justify-content: space-between;
		}

		&__input {
			width: 100%;
		}

		&__input--select {
			width: 45%;
			margin: 0;
		}

		&__input--verif {
			width: 50%;
		}

		&__creditcard-icon {
			left: 50%;
			margin-left: 30px;
		}
	}
}

@media (max-width: 685px) {
	.credit-info {
		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.credit-item {
		width: 100%;

		&__title {
			margin-bottom: 10px;
		}

		&__input--verif {
			width: 45%;
		}
	}
}


.cart-submit-line {
	padding-top: 50px;
	padding-bottom: 150px;
	&__submit-btn {
		border: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#8fa7ef, 5%);
		}
	}

}