.renewal-question-block {
	background: #f4f4f4;
	padding: 135px 0;
}

.renewal-question-wrapper {
	display: flex;
	// justify-content: space-between;
	flex-wrap: wrap;
	// margin: -10px;
}

.question-row-wrap {
	display: flex;
	justify-content: space-between;
	margin-left: -10px;
	margin-right: -10px;
	flex-wrap: wrap;
}

.question-card {
	background: #fff;
	padding: 50px;
	flex: 1 0 400px;
	margin: 10px;

	&__title {
		font-family: "HelveticaNeueCyr-Medium", sans-serif;
		font-size: 25px;
		line-height: 1em;
		margin-bottom: 30px;
		color: @accent-green;
	}
	&__text {
		line-height: 1.71em;
	}

	&__text-link {
		color: @accent-blue;
		text-decoration: underline;
		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
		}
	}

	&__text-list {
		margin-left: 50px;
		margin-bottom: 30px;
	}

	&__text-listitem {
		position: relative;

		&:before {
			content: '•';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			margin-left: -20px;
			color: @accent-green;
		}
	}

	&__more {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18.36px;
		line-height: 1.5em;
		display: inline-block;
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: @accent-blue;
		a {
			color: @accent-blue;
		}
	}
}


