.renewal-table-block {
	padding-bottom: 130px;
}

.tablegrid {
	font-size: 18px;
	line-height: 5.72em;
	text-align: center;
	text-align: center;

	thead tr {
		background: #4bc689;
	}

	th {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 25px;
		text-align: center;
		color: #fff;
		&:first-child {
			border-right: 1px solid #3fa773;
		}
	}

	tbody td {
		&:first-child {
			border-right: 1px solid #f4f4f4;
		}
	}
}

.renewal-table-btn {
	display: inline-block;
	padding: 15px 40px;
	margin-top: 60px;
	&:hover,
	&:active,
	&:focus, {
		background: @accent-blue-h;
		color: #fff;
	}
}

@media (max-width: 683px) {
	.tablegrid {
		font-size: 16px;
		line-height: 4em;
		thead tr {
			font-size: 12px;
		}

		th {
			font-size: 20px;
		}
		
	}
}

@media (max-width: 542px) {
	.tablegrid {
		font-size: 14px;
		line-height: 3em;
		thead tr {
			font-size: 12px;
		}

		th {
			font-size: 16px;
		}
	}
}


@media (max-width: 380px) {
	.tablegrid {
		line-height: 3em;

		tbody td {
			padding: 5px;
			line-height: 1.5em;
			&:first-child {
				text-align: left;
			}
		}
	}
}