.renewal-faq {
	padding: 130px 0;
}
.renewal-faq-title {
	.section-titling;
}

.renewal-faq-wrapper {
	margin-top: 60px;
	font-size: 18px;
	line-height: 1.5em;
}
.renewal-faq-row {
	margin-bottom: 25px;
}
.renewal-faq-quest {
	padding-left: 40px;
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	margin-bottom: 15px;


	&:before {
		content: 'Q.';
		position: absolute;
		display: block;
		left: 15px;
		color: @accent-green;
		font-size: 25px;
	}
}
.renewal-faq-answ {
	padding-left: 40px;


	&:before {
		content: 'A.';
		position: absolute;
		display: block;
		left: 15px;
		color: @accent-green;
		font-size: 25px;
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
	}
}
.renewal-faq-link {
	color: @accent-blue;
	text-decoration: underline;
	&:hover {
		color: #5E7CD4;
		text-decoration: underline;
	}
}
.renewal-faq-btn {
	display: inline-block;
	padding: 15px 40px;
	margin-top: 60px;
	&:hover,
	&:active,
	&:focus, {
		background: @accent-blue-h;
		color: #fff;
	}
}