.renewal-hero {
	padding-top: 110px;
	padding-bottom: 140px;
	position: relative;
}

.renewal-hero-wrapper {
	position: relative;
}

.renewal-hero-title {
	.main-titling;
	margin-bottom: 50px;
}
.renewal-hero-text {
	.main-text;
}

.renewal-hero-subtext {
	font-size: 16px;
	line-height: 1.8em;
	margin-top: 50px;
}

.renewal-hero-subtext-bold {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
}

.renewal-hero-bg {
	background-image: url(../img/bg/renewable-energy.png);
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center center;
	width: 410px;
	height: 312px;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 991px) {

	.renewal-hero {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.renewal-hero-title {
		font-size: 30px;
	}

	.renewal-hero-bg {
		display: block;
		position: relative;
		margin: 0 auto;
		background-size: contain;
		background-position: center center;
		height: 200px;
		width: 100%;
		margin-bottom: 40px;
	}
}