.certif-block {
	background-color: #f4f4f4;
	padding-top: 130px;
	padding-bottom: 120px;
}

.certif-cards {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.certif-card_row-wrapper {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	flex-wrap: wrap;
	justify-content: space-between;
}


.certif-card {
	overflow: hidden;
	background-color: #fff;
	padding: 60px 40px;
	margin: 20px;
	flex: 1 1;
	flex-basis: auto;
	width: 300px;
	

	display: flex;
	flex-direction: column;


	&__title {
		font-family: "HelveticaNeueCyr-Medium", sans-serif;
		font-size: 20px;
		line-height: 0.97em;
		color: @accent-green;
		white-space: nowrap;
		margin-bottom: 13px;
	}

	&__subtitle {
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 16px;
		line-height: 0.97em;
	}

	&__text {
		.section-text;
		padding: 44px 0;
		margin-top: auto;
	}

	&__pricing {
		white-space: nowrap;
		margin-top: auto;
		margin-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.pricing-marker {
			font-family: "HelveticaNeueCyr-Light", sans-serif;
			font-size: 16px;
			line-height: 1.68em;
			color: #000;
		}

		.pricing-amount {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
			font-size: 30px;
			line-height: 0.92em;
			color: @accent-blue;
		}
	}
	&__more {
		margin-top: auto;

		position: relative;
		color: @accent-blue;
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.53em;

		a {
			text-decoration: none;
			color: @accent-blue;
			position: relative;
			display: flex;
			justify-content: space-between;
		}
		.arrow-link-icon {
			display: inline-block;
			margin-left: 20px;
			width: 35px;
			height: 20px;
			background-image: url(../img/long-arrow-right.png);
			background-repeat: no-repeat;
			background-size: cover;

			&--fake {
				position: absolute;
				left: -300px;
				opacity: 0;
			}
		}
	}
}

/**********************************
* ========= media: certif-block ===
**********************************/

@media screen and (min-width: 1920px) {

	.certif-card_row-wrapper {
		flex-wrap: nowrap;
	}

	.certif-card {
		flex-basis: 400px;
		width: 300px;
		
		&__title {
			white-space: normal;
		}
	}
}

@media screen and (min-width: 1200px) {

	.certif-card_row-wrapper {
		flex-wrap: nowrap;
	}

	.certif-card {
		flex-basis: 220px;
		width: 240px;
		
		&__title {
			white-space: normal;
		}
	}
}


@media screen and (max-width: 700px) {

	.certif-card {
		flex-basis: 350px;
		width: 200px;
		padding: 40px 20px;
		&__title {
			white-space: normal;
		}
	}
}