.comodo-block {
	background-position: right 50%;


	&__title {
		padding: 45px 0;
		line-height: 1.23em;
	}

	&__text {
		font-family: "HelveticaNeueCyr-Light", sans-serif;
		font-size: 14px;
		line-height: 1.5em;
		color: #000;
		margin-bottom: 30px;
	}

	&__left-side {
		padding: 150px 0;
	}



	&__bg-holder {
		
		background-image: url(../img/bg/win-bg.png);
		background-size: contain;
		background-position: right top;
		background-repeat: no-repeat;
		position: absolute;
		height: 710px;
		width: 60%;
		right: 0;
		margin-top: 80px;
	}
}



@media (max-width: 992px) {
	.comodo-block {
		&__bg-holder {
			display: none;
		}
	}
}