.features-block {
	padding-bottom: 75px;
}

.features-block_right-side {
	padding-top: 95px;
}

.features-titling {
	.section-titling;
}
.features-text {
	.section-text;
	margin-top: 35px;
}

.features-bg {
	width: 40%;
	height: 1000px;
	background-image: url(../img/bg/features-bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	position: absolute;
	left: 0;
}

.feature-card {
	margin-top: 70px;
	&__icon {
		display: block;
		width: 42px;
		height: 42px;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		margin-bottom: 35px;
	}

	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.33em;
		color: #000;
	}

	&__text {
		.section-text;
		margin-top: 30px;
	}
}


/**********************************
* ========= features-block ========
**********************************/

@media screen and (max-width: 991px) {
	.features-bg {
		display: none;
	}
}
