.footer {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 18px;
	line-height: 1em;
	background: #a8bcff;
}
.footer-heading {
	text-align: center;
	padding: 40px 0;
	border-bottom: 1px solid #b9c9ff;
	color: #fff;
}

.footer-col {
	
	color: #fff;
	&__title {
		font-family: "HelveticaNeueCyr-Black", sans-serif;
		font-size: 20px;
		line-height: 0.9em;

	}

	&__items {
		margin-top: 30px;
	}

	&__item {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		padding: 10px 0;
		font-size: 18px;
		a {
			color: #fff;
			&:hover,
			&:active,
			&:focus {
				color: #636363;
			}
		}
	}
}

.footer-cols-wrapper {
	padding: 40px 0;
}

.footer-copyright {
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	text-align: center;
	padding: 40px 0;
	border-top: 1px solid #b9c9ff;
	color: #fff;
}



@media screen and (max-width: 1449px) {
	.footer-col {
		&__title {
			font-size: 16px;
		}

		&__item {
			font-size: 14px;
		}

	}
}



@media screen and (max-width: 992px) {
	.footer-col {
		text-align: center;
		margin-bottom: 50px;

		&__items {
			margin-top: 15px;
		}
		&__item {
			padding: 5px 0;
		}
	}

}