.header-menu {
	border-top: 1px solid #f4f4f4;
	position: relative;
}

.header-menu-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-menu_drop-btn {
	display: none;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
	&:hover {
		color: @accent-blue;
	}
}

.header-menu-list {
	display: block;

	.list-item {
		display: inline-block;
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 18px;
		line-height: 0.88em;
		margin-right: 60px;
		padding: 40px 0;


		&:last-child {
			margin-right: 0;
		}
		a {
			&:hover,
			&:active,
			&:focus {
				color: @accent-blue;
			}
		}

		&:hover {
			& .drop-list {
				display: block;
			}
		}
	}
}

.header-cart {
	display: inline-block;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 18px;
	line-height: 0.88em;
	padding: 38px 0;
	height: 100%;
	background-color: #f7f7f7;
	width: 100%;
	text-align: center;
	width: 260px;
	
	
	&__icon {
		position: relative;
		display: inline-block;
		margin-right: 10px;
	}

	&__amount {
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		background: @accent-blue;
		color: #fff;
		text-align: center;
		border-radius: 50%;
		font-size: 10px;
		line-height: 15px;
		right: -8px;
		top: -8px;
	}

	&:hover,
	&:active,
	&:focus, {
		background-color: darken(#f7f7f7, 5%);
	}
}



.drop-list {
	display: none;
	position: absolute;
	height: 360px;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 10;
	background-color: #ffffff;
	box-shadow: 0px 11px 20px -12px #858585;

	.drop-list-item {
		font-family: "Proxima Nova Regular", sans-serif;
		font-size: 18px;
		line-height: 1.125em;
		height: 50px;
		line-height: 50px;
		position: relative;
		color: red;

		width: 185px;

		a {
			color: #333;
		}

		&:hover,
		&:active,
		&:focus {
			background: @accent-blue;
		}

		&:hover .list-item--before, &:hover .list-item--after {
			display: block;
		}

		&:hover > a {
			color: #fff;
		}

		&:hover .sublist {
			display: flex;
		}
	}
}

.list-item--before {
	display: none;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 3000px;
		top: 0;
		right: 100%;
		height: 100%;
		background: @accent-blue;
	}
}

.list-item--after {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 100%;

	border: 11px solid transparent;
	border-left: 11px solid @accent-blue;
}


.stat {
	position: static;
}

.sublist {
	position: relative;
	left: 100%;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 380px;
	margin-left: 20px;
	z-index: 1;
	width: 600px;

	&__item {
		width: 300px;
		float: right;
		margin-right: 30px;
	}
}

.el-1 {
	bottom: 100%;
}

.el-2 {
	bottom: 200%;
}

.el-3 {
	bottom: 300%;
}

.el-4 {
	bottom: 400%;
}

.el-5 {
	bottom: 500%;
}

.el-6 {
	bottom: 600%;
}


/******************************************************
* ========= media queries -- header-menu =============
******************************************************/

@media (max-width: 1450px) {
	.header-menu-wrapper {
		-ms-align-items: center;
		align-items: center;
	}

	.header-menu-list {
		.list-item {
			margin-right: 30px;
		}
	}

	.header-cart {
		width: auto;
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media (max-width: 1200px) {
	.header-menu-list {
		.list-item {
			margin-right: 30px;
			font-size: 16px;
		}
	}
}


@media (max-width: 992px) {

	.header-menu_drop-btn {
		display: block;
	}

	.contwrapper {

	}

	.header-menu-list {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #fff;
		z-index: 10;
		margin-right: 0 !important;
	
		.list-item {
			width: 100%;
			padding: 20px 0;
			margin-right: 0;
			&:hover {
				.drop-list {
					display: none;
				}
			}
		}
	}

	.header-menu-list.open {
		display: block;
		padding-left: 80px;
	}
}

@media (max-width: 768px) {
	.header-menu_drop-btn {
		margin-left: 20px;
	}

	.header-menu-list.open {
		display: block;
		padding-left: 40px;
	}
}