.hero-block {
	background-image: url('../img/bg/header-bg.jpg');

	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right center;
	padding-top: 115px;
	padding-bottom: 115px;
	color: #fff;

	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 50px;
		line-height: 1.1em;
	}

	&__text {
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 25px;
		line-height: 1.48em;
		margin-top: 50px;
	}

	&__btn {
		position: relative;
		color: #0084ff;
		display: block;
		background-color: #fff;
		width: 210px;
		
		font-family: "HelveticaNeueCyr-Medium", sans-serif;
		font-size: 18px;

		padding-left: 40px;
		padding-right: 80px;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius: 3px;
		margin-top: 45px;

		i {
			padding-right: 15px;
			display: block;
			position: absolute;
			right: 0;
			height: 100%;
			top: 0;
			padding-top: 18px;
			padding-left: 15px;
			border-left: 1px solid #e8e8e8;
		}
	}
}

