.paiment-block {
	//background: #a5bcff; //temp
	background: #fff; //temp
	// padding: 80px 0;
	padding: 5px 0;
	color: #fff;
}

.paiment-block-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.paiment-block-title {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 30px;
	line-height: 0.8em;
	color: @accent-blue;

	display: block;
	padding: 80px 0;
	position: relative;
	border-right: 1px solid #d1d1d1;

	padding-right: 100px;
	margin-right: 100px;
}


.paiment-type-items {
	margin: 75px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.paiment-type-item {
	margin-right: 80px;
	width: 25%;
	&:last-child {
		margin-right: 0;
	}

	img {
		width: 100%;
	}
}


/**********************************
* ========= paiment-block =========
**********************************/

@media (max-width: 991px) {
	
	.paiment-type-item {
		margin-right: 20px;
	}

}

@media (max-width: 768px) {
	.paiment-block-wrap {
		flex-direction: column;
	}
	.paiment-block-title {
		margin-right: 0;
		text-align: center;
		border-right: 0;
		padding: 30px 0;
	}

	.paiment-type-items {
		flex-direction: column;
		justify-content: center;
		margin-top: 40px;
		margin-bottom: 0;
	}

	.paiment-type-item {
		margin-right: 0;
		width: 100px;
		margin-bottom: 20px;
	}
}