.partner-block-title {
	.section-titling;
	margin-bottom: 30px;
}
.partner-block-text {
	.section-text;
}

.partner-block-wrapper {
	height: 420px;
	position: relative;

}
.partner-block-twrapper {
	padding: 150px 0;
}
.partner-block-bg {
	background-image: url(../img/bg/puzzle-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.partner-tiles {
	
}
.partner-tile {
	position: relative;
	padding: 60px 30px;
	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.33em;
	}
	&__text {
		.section-text;
		margin-top: 30px;
	}

	&__bg {
		width: 150px;
		height: 150px;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.partner-block-btn {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 18px;
	line-height: 1.52em;
	padding: 20px 40px;
	color: #fff;
	background-color: #a3b9ff;
	border-radius: 5px;
	margin: 0 auto;
	width: 220px;
	margin-top: 100px;
	margin-bottom: 130px;

	display: flex;

	&:hover {
		background-color: @accent-blue;
		color: #fff;
	}


	.btn-arrow {
		margin-left: 20px;
	}
}



/**********************************
* ========= partner-block =========
**********************************/
@media (max-width: 992px) {
	.partner-block-bg {
		-webkit-background-size: contain;
		background-size: contain;
	}
}

@media (max-width: 768px) {
	.partner-block-bg {
		display: none;
	}

	.partner-block-wrapper {
		height: 320px;
	}

	.partner-block-twrapper {
		padding: 75px 0;
	}

	
}

@media (max-width: 347px) {
	.partner-block-btn {
		width: auto;
		margin: 50px auto;
	}	
}
