.subscribe-form {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 140px;
	
	&__form-holder {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	&__title {
		.section-titling;
		margin-bottom: 50px;
	}
	&__email {
		background: #f4f4f4;
		padding: 20px 30px;
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 18px;
		border: 0;
		line-height: 1.17em;
		border-radius: 7px;
		width: 620px;
		margin-right: 20px;
		outline: none;
		&::placeholder {
			color: #c9c9c9;
		}
	}
	&__btn {
		background: #a3b9ff;
		color: #fff;
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.52em;
		border: 0;
		border-radius: 7px;
		padding: 20px 40px;
		width: 170px;
		&:hover,
		&:focus,
		&:active {
			background: @accent-blue;
		}
	}
	
}


@media (max-width: 991px) {


	.subscribe-form {

		&__form-holder {
			flex-wrap: wrap;
			flex-direction: column;
			-ms-align-items: flex-start;
			align-items: flex-start;
			padding-right: 20px;
			padding-left: 20px;
		}

		&__email {
			margin-right: 0;
			width: 100%;

		}

		&__btn {
			margin-top: 20px;
			width: auto;
		}
	}
}