.tools-block {
	padding-top: 75px;
}
.tools-block-title {
	.section-titling;
}

.tools-cards {
	margin-top: 60px;
}

.tools-card {
	padding: 45px;
	padding-right: 130px;
	margin-bottom: 20px;

	&:hover {
		background-color: #f7f7f7;
	}

	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.33em;
		color: @accent-green;
	}

	&__text {
		.section-text;
	}

	&__link {
		margin-top: 50px;

		a {
			display: block;
			width: 100px;
			position: relative;
			color: #b6b6b6;
			&:hover {
				color: @accent-green;
			}
		}
	}
}

.arrow {
	background-image: url(../img/long-arrow-right-grn.png);
	display: block;
	width: 22px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -6px;
}



/**********************************
* ========= tools-block =========
**********************************/
@media screen and (max-width: 991px) {
	.tools-card {
		padding: 20px;
	}

}

@media (max-width: 668px) {
	
	.tools-card {
		padding: 0;
		padding: 20px 45px;
		margin-bottom: 20px;
	}
}
