.top-line-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 33px 0;
}

.top-line_left-side {
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Akrobat-Bold", sans-serif;
	font-size: 50px;
	line-height: 0.32em;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: -3px;
	margin-right: 100px;
	&__blue {
		color: #8fa7ef;
	}

	&__green {
		color: #2cbb73;
	}
}

.lang {
	position: relative;
	&__btn {
		cursor: pointer;
	}

	&__drop {
		position: absolute;
		top: 100%;
		display: none;
		background: #fff;
		width: 100%;
		z-index: 30;

		li {
			cursor: pointer;
			margin-left: 25px;
			&:hover {
				color: @accent-blue;
			}
		}
	}
	&__drop.open {
		display: block;
	}

	&__img {
		margin-right: 10px;
	}

	&__chosen {
		margin-right: 10px;
	}
}

.top-line_right-side {
	
}

.top-line-nav_drop-btn {
	display: none;
	position: relative;
	padding: 20px 0;
	text-transform: uppercase;
	cursor: pointer;
	&:hover,
	&:active,
	&:focus {
		color: @accent-blue;
	}

	i {
		position: relative;
		display: inline-block;
	}
}

.top-line-nav-holder {
	display: flex;
	justify-content: space-between;

	.nav-item {
		font-family: "ProximaNova-Regular", sans-serif;
		color: #333;
		margin-left: 60px;
		a {
			&:hover,
			&:active,
			&:focus {
				color: @accent-blue;
			}
		}
	}

	.login-btn {

		a {
			color: #8fa7ef;
			&:hover,
			&:active,
			&:focus {
				color: @accent-green;
			}
		}
	}
}




/**********************************
* ========= top-line =============
**********************************/
@media (max-width: 1200px) {
	.top-line-nav-holder {
		.nav-item {
			margin-left: 30px;
		}

	}
}


@media (max-width: 992px) {

	.top-line-wrapper {
		flex-wrap: wrap;
	}
	.top-line_left-side {
		width: 100%;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	.top-line_right-side {
		width: 100%;
	}

	.top-line-nav-holder {
		justify-content: space-between;

		.nav-item {
			margin-left: 0;	
		}
	}
}

@media (max-width: 490px) {
	.top-line-wrapper {
		padding-bottom: 10px;
	}

	.top-line_right-side {
		width: 100%;
	}

	.logo {
		margin-right: auto;
	}

	.top-line-nav_drop-btn {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	.top-line-nav-holder {
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		display: none;
		position: absolute;
		background-color: #fff;
		width: 100%;
		left: 0;
		z-index: 20;

		.nav-item {
			margin-left: 0;	
			width: 100%;
			padding: 20px 0;
		}
	}
}