.video {
	padding: 150px 0 20px;

	&__title {
		.section-titling;
		margin-bottom: 90px;
	}
}
.video-wrapper {
	display: flex;
	justify-content: center;
}

.relation {
	margin: 0 auto;
	position: relative;
	&__ration {
		padding-top: 56.25%;
		height: 0;
	}

	&__content {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: red;
	}
}

.video-size {
	max-width: 1000px;
}




/**********************************
* ========= video =========
**********************************/

@media (max-width: 991px) {
	.video {
		padding: 75px 0;
	}
}

@media (max-width: 611px) {
	.video-wrapper {

		iframe {
			width: 100%;
		}
	}
}



