.about-content {
	padding-top: 50px;
	padding-bottom: 80px;

	&__topline {
		margin-bottom: 70px;
	}
}

.about-mainitem {
	&__title {
		.section-titling;
		margin-bottom: 60px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 30px;
	}

	&__list {
		padding-left: 20px;
	}

	&__list-item {
		position: relative;
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 25px;

		strong {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
		}

		a.text-link {
			font-family: "HelveticaNeueCyr-Bold", sans-serif;
			text-decoration: underline;
		}
		&:before {
			content: '';
			width: 4px;
			height: 4px;
			background: #4bc689;
			display: block;
			position: absolute;
			border-radius: 50%;
			left: -20px;
			top: 10px;
		}
	}
}



.product-right-sidebar {
	margin-bottom: 60px;
	&__item {
		background: #f4f4f4;
		font-size: 16px;
		line-height: 0.8;
		padding-left: 44px;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-right: auto;
		margin-bottom: 1px;
		display: block;
		&:hover {
			background: #01b95d;
			color: #fff;
		}
	}
}