.buylist-block {
	padding: 100px 0;
}

.buylist-title {
	.section-titling;
}

.buylist-holder {
	margin-top: 70px;
}

.buylist-item {
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	font-size: 18px;
	line-height: 3.3em;
	position: relative;
	padding-left: 20px;

	&:before {
		content: '•';
		display: block;
		position: absolute;
		color: @accent-green;
		left: 0;
		top: 0;
	}
}

@media screen and (max-width: 1485px) {
	.buylist-item {
		line-height: 2.8em;
	}
}

@media screen and (max-width: 1200px) {
	.buylist-item {
		line-height: 1.9em;
	}
}

@media screen and (max-width: 991px) {
	.buylist-title {
		margin-bottom: 30px;
	}

	.buylist-holder {
		margin-top: 0;
	}
}