.offerlist-block {
	background: #f4f4f4;
	padding: 135px 0;
}

.offerlist-item {
	padding: 0 40px;
	background: #fff;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	&--active {
		background: #4bc689;
	}

	&--active &__checkfield .checkblock {
		background: #3fa773;
	}

	&--active &__checkfield .checkblock {
		background: #3fa773;
		color: #fff;
	}

	&--active &__title-name,
	&--active &__title-saving,
	&--active &__price-amount,
	&--active &__price-discount,
	{
		color: #fff;
	}

	&__checkfield {
		flex: 1 0 0px;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		.checkfield-inp {
			display: none;
		}

		.checkfield-inp:checked + .checkblock .check-icon {
			display: block;
		}

		.checkblock {
			display: block;
			width: 20px;
			height: 20px;
			background: #f4f4f4;
			border-radius: 3px;
			position: relative;
		}

		.check-icon {
			display: none;
			font-size: 20px;
			position: absolute;
			right: -2px;
			top: -2px;
		}
	}

	&__label-wrapper {
		flex: 6 0 auto;
		padding: 30px 0;
	}


	&__title {
		flex: 1;
	}

	&__title-name {
		font-family: "HelveticaNeueCyr-Medium", sans-serif;
		font-size: 25px;
		line-height: 0.98em;
		color: #02ae58;
	}
	&__title-saving {
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 16px;
		line-height: 1.53em;
		color: #000;
	}

	&__price {
		flex: 1;
		text-align: right;
	}

	&__price-amount {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 30px;
		line-height: 0.92em;
		color: #8fa7ef;
	}
	&__price-discount {
		color: #9a9a9a;
		font-family: "HelveticaNeueCyr-Roman", sans-serif;
		font-size: 16px;
		line-height: 1.72em;
		text-decoration:line-through;
	}
}

.offerlist-item-innerwrap {
	display: flex;
	justify-content: space-between;
}



.offer-result-remark {
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #a2b8ff;

	.more {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		color: @accent-blue;
		&:hover {
			color: #6D8DF4;
		}
	}
}

.offer-result-list {
	font-size: 18px;
	line-height: 3.33em;
}
.offer-result-row {
	display: flex;

}
.offer-result-col-amount {
	width: 50%;
	margin-left: auto;
}
.offer-result-col-amount--bold {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 30px;
	line-height: 2em;
}

.offer-result-quantity {
	padding: 10px 20px;
}


.offer-btn-holder {
	display: flex;
	margin-top: 80px;

	.btn-renew {
		flex: 1 0 auto;
		margin-right: 20px;
		padding: 20px 35px;
		background: #fff;
		color: @accent-blue;
		&:hover {
			background: #4bc689;
			color: #fff;
		}
	}
	.btn-add {
		flex: 1 0 auto;
		padding: 20px 35px;
		&:hover {
			background: #7999ff;
		}
	}
}




@media screen and (max-width: 1200px) {
	.offer-result-list {
		line-height: 1.5em;
	}

	.offer-result-row {
		margin-bottom: 20px;
		align-items: center;
	}

	.offer-btn-holder {
		margin-top: 40px;
		flex-wrap: wrap;
		.btn-renew {
			width: 100%;
			margin-right: 0;
		}
		.btn-add {
			width: 100%;
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.offerlist-item {
		&__title {
			padding-left: 40px;
		}
	}
}

@media screen and (max-width: 992px) {
	.offerlist-block {
		padding: 60px 0;
	}
}

@media screen and (max-width: 543px) {
	.offerlist-item {
		padding: 0 20px;
		&__title {
			padding-left: 20px;
		}
		&__label-wrapper {
			padding: 15px 0;
		}

		&__title-name {
			font-size: 18px;
		}
		&__title-saving {
			font-size: 14px;
		}

		&__price-amount {
			font-size: 20px;
		}
		&__price-discount {
			font-size: 14px;
		}
	}
}