.prodfeatures-block {
	padding-bottom: 150px;
}

.prodfeatures-section-top {
	background-image: url(../img/bg/yellow-bg-1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right top;
	padding-top: 270px;
}

.prodfeatures-section-bottom {
	background-image: url(../img/bg/yellow-bg-2.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
}

.prodfeatures-block-viewall {
	.section-titling;
	margin-top: 140px;
	margin-bottom: 70px;
	text-align: center;
}

.prodfeatures-learnmore-btn {
	.main-btn;
	width: 220px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	&:hover {
		background: #7999FF;
	}
}

@media (max-width: 991px) { 
	.prodfeatures-section-top {
		background-image: none;
		padding-top: 50px;
	}
	.prodfeatures-section-bottom {
		background-image: none;
	}
}
