.product-hero {
	padding-top: 110px;
	padding-bottom: 140px;
	position: relative;
}

.product-hero-wrapper {
	position: relative;
}

.product-hero-title {
	.main-titling;
	margin-bottom: 50px;
}
.product-hero-text {
	.main-text;
}
.product-hero-bg {
	background-image: url(../img/bg/30days.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right center;
	width: 410px;
	height: 312px;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (max-width: 991px) {

	.product-hero {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.product-hero-title {
		font-size: 30px;
	}

	.product-hero-bg {
		display: block;
		position: relative;
		margin: 0 auto;
		background-size: contain;
		background-position: center center;
		height: 200px;
		width: 100%;
		margin-bottom: 40px;
	}
}