.specif-block {
	background: #f4f4f4;
	padding: 130px 0;
}
.specif-block-title {
	.section-titling;
	margin-bottom: 50px;
}



.specif-block-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.specif-leftside {
	flex-grow: 8;
	background: #fff;
	padding: 60px 80px;
	display: table-cell;
	vertical-align: middle;
	flex-basis: 700px;
}

.specif-rightside {
	flex-grow: 4;
	background: #fff;
	padding: 60px 80px;
	background-image: url(../img/bg/corner-bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 70%;
	margin-left: 30px;
	flex-basis: 250px;
	@media (max-width: 1200px) {
		margin-left: 0;
		background-size: contain;
		margin-top: 20px;
	}
}

.specif-rightside-title {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 30px;
	line-height: 2em;
	color: @accent-green;
}



.specif-row {
	font-size: 18px;
	line-height: 4.16em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.specif-col-title {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	display: inline-block;
	flex: 0 0 auto;
	// text-align: left;
	// float: left;
	
}
.specif-col-value {
	flex: 1 0 auto;
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	display: inline-block;
	text-align: right;
}



@media (max-width: 991px) {
	.specif-row {
		flex-direction: column;
		line-height: 2em;
		margin-bottom: 30px;
	}

	.specif-leftside {
		padding: 40px 40px;
	}

	.specif-col-title {

	}
	.specif-col-value {
		text-align: left;	
	}
}