@font-face {
	.font('ProximaNova-Bold', 'ProximaNova/ProximaNova-Bold');
}

@font-face {
	.font('ProximaNova-Regular', 'ProximaNova/ProximaNova-Regular');
}

@font-face {
	.font('HelveticaNeueCyr-Black', 'HelveticaNeueCyr/HelveticaNeueCyr-Black');
}

@font-face {
	.font('HelveticaNeueCyr-Bold', 'HelveticaNeueCyr/HelveticaNeueCyr-Bold');
}

@font-face {
	.font('HelveticaNeueCyr-Light', 'HelveticaNeueCyr/HelveticaNeueCyr-Light');
}

@font-face {
	.font('HelveticaNeueCyr-Medium', 'HelveticaNeueCyr/HelveticaNeueCyr-Medium');
}

@font-face {
	.font('HelveticaNeueCyr-Roman', 'HelveticaNeueCyr/HelveticaNeueCyr-Roman');
}

@font-face {
	.font('Akrobat-Bold', 'Akrobat/Akrobatbold');
}

