body {
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	overflow-x: hidden;
	color: #000;
}

.main-titling {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 50px;
	line-height: 1.1em;
	color: #000;
}

.main-text {
	font-size: 18px;
	line-height: 2.05em;
}

.section-titling {
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 30px;
	line-height: 0.8em;
	color: #000;
}

.section-text {
	font-family: "HelveticaNeueCyr-Roman", sans-serif;
	font-size: 14px;
	line-height: 1.71em;
	color: #a1a1a1;
}

.h100-per {
	height: 100%;
}

.main-btn {
	background: @accent-blue;
	border-radius: 7px;
	color: #fff;
	font-family: "HelveticaNeueCyr-Bold", sans-serif;
	font-size: 18px;
	line-height: 1.52em;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	cursor: pointer;
	background-image: -moz-linear-gradient( -33deg, rgb(163,185,255) 0%, rgb(184,201,255) 100%);
	background-image: -webkit-linear-gradient( -33deg, rgb(163,185,255) 0%, rgb(184,201,255) 100%);
	background-image: -ms-linear-gradient( -33deg, rgb(163,185,255) 0%, rgb(184,201,255) 100%);
	box-shadow: 0px 7px 35px 0px rgba(163, 185, 255, 0.3);
}

.btn-back {
	box-sizing: border-box;
	background: #f4f4f4;
	padding: 20px 60px;
	position: relative;
	font-size: 16px;
	line-height: 1.9;
	
	display: block; //?

	&:before {
		content: '';
		height: 20px;
		width: 10px;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		margin-left: 30px;
		background-image: url(../img/nav-icons/green-arrow-left.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
	&:hover,
	&:active,
	&:focus, {
		background: darken(#f4f4f4, 5%);
	}
}



a {
	// text-decoration: none !important;
	text-decoration: none;
	color: #333;
	&:hover {
		text-decoration: none;
	}

}

ul {
	margin-bottom: 0;
}

.b {
	border: 1px solid black;
}

.r {
	border: 1px solid red;
}