@import (less) "../libs/reset.less";
@import (less) "../libs/bootstrap/css/bootstrap.min.css";

@import (reference) "./mixins.less";
@import "../fonts/fontawesome/css/all.min.css";
@import "./fonts.less";
@import "./variables.less";
@import "./general.less";

@import "./blocks/_top-line.less";
@import "./blocks/_header-menu.less";
@import "./blocks/_hero-block.less";
@import "./blocks/_comodo.less";
@import "./blocks/_certif-block.less";
@import "./blocks/_features-block.less";
@import "./blocks/_tools-block.less";
@import "./blocks/_partner-block.less";
@import "./blocks/_paiment-block.less";
@import "./blocks/_video.less";
@import "./blocks/_subscribe-form-block.less";
@import "./blocks/_footer.less";


@import "./blocks/product-page/_product-hero.less";
@import "./blocks/product-page/_offerlist-block.less";
@import "./blocks/product-page/_buylist-block.less";
@import "./blocks/product-page/_specif-block.less";
@import "./blocks/product-page/_prodfeatures-block.less";

@import "./blocks/renewal-page/_renewal-hero.less";
@import "./blocks/renewal-page/_renewal-table-block.less";
@import "./blocks/renewal-page/_renewal-question-block.less";
@import "./blocks/renewal-page/_renewal-faq.less";


@import "./blocks/about-page/_about-hero.less";
@import "./blocks/about-page/_about-content.less";


@import "./blocks/blog-page/_blog-hero.less";
@import "./blocks/blog-page/_blog-categories.less";
@import "./blocks/blog-page/_blog-articles.less";
@import "./blocks/_star-rating.less";

@import "./blocks/contact-us-page/_contact-us.less";
@import "./blocks/contact-us-page/_contact-us-content.less";


@import "./blocks/technical-support/_support.less";


@import "./blocks/cart-page/_cart.less";
@import "./blocks/cart-page/_billing-adress.less";
@import "./blocks/cart-page/_pay-method.less";



@import "./media.less";

.testlargeblock {
	height: 500px;
	border-top: 1px solid #F0F0F0;
	margin-top: 20px;
}