.blog-categories {
	padding: 50px 0;
	&__title {
		font-size: 25px;
	}

	&__list {
		margin-top: 30px;
	}

	&__list-row {
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	&__list-item {
		flex: 1 0 100px;
		// width: 150px;
		font-size: 14px;
		line-height: 1.2;
		background: #f4f4f4;
		display: block;
		width: 100%;
		text-align: center;
		padding: 20px 0;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover,
		&:active,
		&:focus {
			background: #01b95d;
			color: #fff;
		}
	}
}

@media (max-width: 680px) {
	.blog-categories {
		&__list-row {
			flex-wrap: wrap;
			padding-right: 20px;
		}

		&__list-item {
			flex-basis: 100%;
		}
	}
}