.blog-articles {
	padding-bottom: 130px;
	padding-top: 50px;
	&__btn-more {
		display: block;
		background: #f4f4f4;
		font-size: 14px;
		line-height: 1.9;
		padding: 20px 66px;
		margin: 0 auto;
		width: 240px;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			background: #01b95d;
			color: #fff;
		}
	}
}

.blog-article {
	margin-bottom: 45px;
	box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.04);
	padding: 50px 0;
	&__main-icon {

	}

	&__content {

	}


}


.article-icon {

	padding: 0 20px;
	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}
	&__star-rating {
		margin-top: 10px;
	}
	&__categories {
		font-size: 12px;
		line-height: 1.3;
	}
	&__categories-title {
		color: #65737b;
		margin-bottom: 14px;
	}
	&__categories-list {
		
	}
	&__categories-list-item {
		display: block;
		color: #000;
		text-decoration: underline;
		margin-bottom: 5px;
	}
}

.article-content {

	&__title {
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 25px;
		color: #000;
		margin-bottom: 20px;
	}
	&__text {
		font-size: 14px;
		color: #65737b;
	}

	&__link {
		display: block;
		font-family: "HelveticaNeueCyr-Bold", sans-serif;
		font-size: 18px;
		line-height: 1.3;
		color: #01b95d;
		text-decoration: underline;
		margin-top: 50px;
	}

}


@media (max-width: 413px) {
	.article-icon {
		padding: 0;
	}
}