.blog-hero {
	
	background-image: url(../img/bg/blog-main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 315px;

	&__title {
		.section-titling;
		line-height: 1.8;
		margin-top: 130px;
	}
}