<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>!_TEST_!</title>

</head>
<body>
	


	<h1>Tests</h1>
	
	<div id="testvue">
		
	</div>

	<div class="offerlist-block">
		<div class="container">
			<div class="row">
				
				<div class="col-md-7">
					<div class="offerlist">
						<ul class="offerlist-items">
							
							<li class="offerlist-item"
									v-for='(item, i) in offerlist'
									v-on:click="setActive(item)"
									v-bind:class="item.active ? 'offerlist-item--active' : false"
									>

								<div class="offerlist-item__checkfield">
									<input :checked='item.active ? true : false' :id='getId(i)' class='checkfield-inp' type="radio"  name='picker' />
									<span class="checkblock">
										<i class="check-icon fas fa-check"></i>
									</span>
								</div>
								<label :for="getId(i)" class='offerlist-item__label-wrapper'>
									<div class="offerlist-item-innerwrap">
										<div class="offerlist-item__title">
											<div class="offerlist-item__title-name">{{item.countOfYears}} {{yearText(item)}}</div>
											<div class="offerlist-item__title-saving">You Save ${{getSavingAmount(item)}} ({{getSavingPercent(item)}}%)</div>
										</div>

										<div class="offerlist-item__price">
											<div class="offerlist-item__price-amount">${{item.total.toFixed(2)}}/yr</div>
											<div class="offerlist-item__price-discount">${{item.oldprice.toFixed(2)}}</div>
										</div>
									</div>
								</label>
							</li>

				<div class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="offer-result" id="result">
						<div class="offer-result-remark">
							Important! To ensure the most up-to-date security that meets the latest CA/B Forum standards, you will need to regenerate your certificate (at no cost to you) after 2 years.
							<a class="more" href="#">More details...</a>
						</div>

						<div class="offer-result-list">
							<div class="offer-result-row">
								<div class="offer-result-col-title">Total Domains:</div>
								<div class="offer-result-col-amount">1</div>
							</div>
							<div class="offer-result-row">
								<div class="offer-result-col-title">Your Savings:</div>
								<div class="offer-result-col-amount">${{quantityIndexing.savings.toFixed(2)}}</div>
							</div>
							<div class="offer-result-row">
								<div class="offer-result-col-title">Total:</div>
								<div class="offer-result-col-amount offer-result-col-amount--bold">${{quantityIndexing.total.toFixed(2)}}</div>
							</div>
							<div class="offer-result-row">
								<div class="offer-result-col-title">Quantity</div>
								<div class="offer-result-col-amount">
									<select class='offer-result-quantity' v-model='quantity'>
										<option value='1'>1</option>
										<option value='2'>2</option>
										<option value='3'>3</option>
									</select>
								</div>

							</div>

							<br>
							<span>chosen: </span>

						</div>

					</div> <!-- offer-result -->

					
				</div>
			</div>
		</div>
	</div> <!-- offerlist-block -->
	

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src='js/main.min.js'></script>

</body>
</html>